<div style="display: flex;justify-content: center;margin-top:10px;" id="topimage">
    <img style="display: block;" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-us.s3.amazonaws.com%2Fb325d2e4-84c3-11e9-b861-54ee436f9768?fit=scale-down&source=next&width=700">
</div>
<div style="text-align: center;margin-bottom:25px;">
    <p>picture : Liverpool FC won UEFA Champions League in 2018</p>
</div>
<div style="text-align: center;">
    <h1>404</h1>
    <h4>tidak ada halaman disini. Silahkan kembali ke landing page</h4>
    <a routerLink='/landing-page'>kembali ke landing-page</a>
</div>