#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: block;
  margin-top: 8vh;
}

.center {
display: flex;
justify-content: center;
}

form {
display: block;
}

button {
margin:20px;
}

.invalid {
display:block;
color:red;
}

/* #register{
    display: flex;
    justify-content: center;
}

form input {
    display: block;
}

.invalid {
    display:block;
    color:red;
} */
