<div id="wrapper">
  <div id="card" style="width: 20rem;">
    <div>
        <img id="card-img-top" [src]="curstock.Image">
        <div>
            <h4>{{curstock.Nama}}</h4>
            <p>Price   : Rp {{curstock.Harga}}</p>
            <p>Quantity:    {{curstock.Qty}}</p>
            <button (click)="addMinQty(-1)">kurang</button>
            {{[qty]}}
            <button (click)="addMinQty(+1)">tambah</button>
            <p>{{[qty]*[curstock.Harga]}}</p>
            <div style="margin-top: 8px">
                <button style="width: 130px;" (click)="add()">add</button>
            </div>
        </div>
    </div>
</div>
</div>
