#abs {
  height: 60px;
}

nav {
    display: flex;
    justify-content: left;
    background-color: whitesmoke;
    padding:5px;
    position:fixed;
    width: 100%;
    z-index: 2;
    top:0;
}

#showlist {
  position: fixed;
  width: 100%;
  z-index: 2;
}

#ident {
    display: flex;
    justify-content: center;
    margin-right: 5vw;
}

#ident p{
    display: block;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    display: block;
    height: 35px;
}

#menu {
    display: flex;
    align-items: center;
}

ul {
    display: block;
    margin: 0px;
    padding:0px;
}

li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
    padding:0px;
}

li a{
    text-decoration: none;
    color:black;
}

#hamburger {
  display: none;
}

#showlist {
  display: none;
}

@media only screen and (max-width:750px){

  #showlist {
    display: block;
  }

  nav {
    justify-content: space-between;
  }

  #menu{
    display: none;
  }

  #hamburger {
    display: flex;
    justify-content: center;
  }

  #hamburger img {
    display: block;
    padding-right:20px;
  }

  #showlist a {
    text-decoration: none;
    text-align: center;
    display: block;
    color:black;
    padding: 20px;
    background-color: whitesmoke;
  }
}
