<div id="abs"></div>
<nav>
    <div id="ident">
        <div id="logo">
            <img src="assets/logo.png">
        </div>
        <p>Kokesma</p>
    </div>
    <div id="menu">
        <div id="ul-center">
            <ul>
                <li><a routerLink='/member'>Member</a></li>
                <li><a routerLink='/admin'>Admin</a></li>
            </ul>
        </div>
    </div>
    <div id="hamburger">
      <img (click)="showHide()" src="assets/hamburger.svg">
    </div>
</nav>
<div id="showlist" *ngIf='show'>
  <a routerLink='/member' (click)="showHide()">Member</a>
  <a routerLink='/admin' (click)="showHide()">Admin</a>
</div>
