.insert {
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
  justify-content: center;
}

#menu button {
  display: block;
  margin:5px;
}

form {
  display: block;
  padding:20px;
}

form input, form text-area, form button {
  display: block;
}
